#sudoku-board {
  color: #9a551d;
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 2px solid #9a551d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#error {
  width: 400px;
}

#sudoku-board td:nth-child(n+4):not(:nth-child(n+7)){
background-color: #ced4da;
}

#sudoku-board tr:nth-child(n+4):not(:nth-child(n+7))
{
  background-color: #ced4da;
}

#sudoku-board tr:nth-child(n+4):not(:nth-child(n+7)) td:nth-child(n+4):not(:nth-child(n+7)) {
  background-color: white;
}

#sudoku-board td .sudoku-number {
  margin: auto;
  text-align: center;
  display: block;
  width: 20px;
  height: 20px;
}

